site_name: customer_support
site_author: Group 41
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Data Processing: data.md
  - Model: model.md
  - Training: training.md
  - API: api.md
  - CLI Commands: cli.md
  - Testing: testing.md
  - Data Versioning: dvc.md
  - Cloud Infrastructure: cloud.md
