name: Deploy docs

on:
  push:
    branches:
      - main

permissions:
    contents: write

jobs:
  deploy:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
      with:
        enable-cache: true
    - name: Install dependencies
      # Only install docs dependencies, excludes all project dependencies
      run: uv sync --frozen --only-group docs

    - name: Deploy docs
      run: uv run --no-sync mkdocs gh-deploy --force --config-file docs/mkdocs.yaml
