name: Pre-commit auto-update

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          enable-cache: true

      - name: Update pre-commit hooks
        run: uvx pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          branch: update/pre-commit-autoupdate
          title: "chore: auto-update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: |
            This is an automated PR to update the versions of tools in `.pre-commit-config.yaml`.

            _Generated by the Pre-commit auto-update workflow._
          labels: dependencies
