name: Pre-commit auto-update

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          enable-cache: true

      - name: Update pre-commit hooks
        run: uvx pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          branch: update/pre-commit-autoupdate
          title: "chore: auto-update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: |
            This is an automated PR to update the versions of tools in `.pre-commit-config.yaml`.

            _Generated by the Pre-commit auto-update workflow._
          labels: dependencies
