name: Unit Tests

# TODO: Uncomment when ready to enable tests
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"
          enable-cache: true
          cache-suffix: ${{ matrix.operating-system }}

      - name: Install dependencies
        run: |
          uv sync --locked --group dev
          uv pip list

      - name: Run tests & coverage
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m
